@page "/counter"
@page "/counter/{StarterValue:int}"

<h1>Counter</h1>

<p>Count to increase: @increaseCount</p>
<p>Count to decrease: @decreaseCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me to increase</button>

<button class="btn btn-primary" @onclick="DecrementCount">Click me to decrease</button>

@code {
    [Parameter]
    public int StarterValue { get; set; }

    private int increaseCount = 0;
    private int decreaseCount = 100;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        increaseCount = StarterValue;
        decreaseCount = StarterValue;
    }

    private void IncrementCount()
    {
        increaseCount++;
    }

    private void DecrementCount()
    {
        decreaseCount--;
    }
}
