@page "/newpage"

@using LearningBlazorServer.Components
@using Microsoft.Extensions.Logging

@using LearningBlazorServer.Data

@inject IDummyDataService _dummyDataService
@inject Microsoft.Extensions.Configuration.IConfiguration _config;
@inject ILogger<NewPage> _logger

@inherits LearningBlazorServer.Models.InheritedModel

<h1>New Page</h1>

<p>
    This is a new Razor page component.
</p>

<p>
    Dummy data config data: <b>@configData</b> <br />
    Dummy data service data: <b>@dummyData</b>
</p>

<p>
    Parameter value passed from component
</p>

<!-- Inherited data comes from CounterModel -->
<p>The inherited data is : <b>@InheritedData</b></p>

<NewPageComponent ParameterValue="Passed through value"></NewPageComponent>

<button class="btn-primary" @onclick="ButtonClickEvent">Fire event</button>

<NewPageFormComponent></NewPageFormComponent>

@code{
    private string configData, dummyData = string.Empty;
    protected override void OnInitialized()
    {
        configData = _config.GetSection("DummyDataConfig").Value;
        dummyData = _dummyDataService.GetDummyData();
        _logger.LogInformation($"The service has provided the data {dummyData}");
    }

    [Parameter]
    public EventCallback<string> EventFire { get; set; }

    private void ButtonClickEvent()
    {
        EventFire.InvokeAsync("Event fired");
    }

    private void CreateDummy()
    {

    }
}